

.sec0div{
    display: grid;
    grid-template-columns: 2, 1fr;
    align-items: center;
    justify-content: center;
}


.A{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    gap: 20px;
    padding: 100px ;
    font-size: 28px;
}

.AH{
    color: #FF5400;
}


nav{
    display: flex;
    justify-content: space-between; 
    gap: 40px;
}

.anchor a{
    text-decoration: none;
    color: black;
    font-size: 23px;
    
}

.sec1{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Images/Group\ 13\ \(1\)\ \(1\).png);
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    margin: 5px 350px;
}

.div1{
    justify-content: center;
    align-items: center;
}
    
.divH{
    color: #FFF;

font-family: Mulish;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-align: center;
padding-top: 100px;
}

.divP{
    color: #FFF;

text-align: center;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 26px;
text-align: center;
width: 70%;
margin-left: 200px;
}

.div2{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 50px;
}

.div2bt{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
}

.div2p{
    width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
text-align: center;
background-color: #FF5400;
padding-top: 5px;

}

.sec2div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 150px;
}

.PPH{
    color: #131318;

text-align: left;
font-family: Mulish;
font-size: 50px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-left: 350px;
}

.PPp{
    color: rgba(19, 19, 24, 0.70);

font-family: Mulish;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 26px;
width: 60%;
margin-left: 350px;
}
.PPpp{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    text-align: center;
    background-color: #FF5400;
    margin-left: 350px;
}

.photo{
    margin-left: 50px;
}

.sec3div1{
    align-items: center;
    justify-content:center ;
}

.divhead{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.divheadH{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 60px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.divheadp{
    color: rgba(19, 19, 24, 0.70);

text-align: center;
font-family: Mulish;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 26px;
width: 50%;
margin-left: 500px;
}

.sec3photo{
    justify-content: center;
    align-items: center;
    display: grid;
    gap: 20px;
}
.sec3photo1{
    display: flex;
    gap: 20px;
}
.sec3photo2{ 
    display: flex;  
    gap: 20px;
}
.sec3photo3{ 
    display: flex;  
    gap: 20px;
}


.sec4header{
   
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sec4headerH{
    color: #131318;

text-align: center;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}


.sec4headerP{
    color: rgba(19, 19, 24, 0.70);

text-align: center;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 26px;
width: 50%;
margin-left: 450px;
}

.sec4div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    
}
.sec4div1{
    float: left;
    width: 573px;
height: 284px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
margin-left: 350px;
}
.sec4div2{
    float: right;
    width: 573px;
height: 284px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}

.sec4div3{
    width: 573px;
height: 284px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
margin-left: 650px;
margin-top: 20px;

}

.sec5{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 50px;
}

.sec5div{
    width: 474px;
height: 422px;
flex-shrink: 0;
border-radius: 16px;
border: 2px solid #FF5400;
padding-left: 40px;
}

.sec5div2{
    display: grid;
    grid-template-columns: 1, 1fr;
    gap: 20px;
}

.input{
    width: 393px;
height: 52px;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
margin-left: 5px;
}

.input1{
 width: 393px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
margin-left: 5px;
}

.sec6{
    
    height: 502px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    background: rgba(19, 19, 24, 0.05);


}

.sec6div1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    padding-top: 50px;
}

.sec6div1p{
    color: #5A5A5D;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}

.sec6div2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.footer{
    margin-top: 100px;
}





